## Contexto de negócio do exercício

- Contexto geral - A empresa X-Health atua no comércio B2B vendendo dispositivos eletrônicos voltados para saúde com amplo espectro de preços, e de variada sofisticação/complexidade. 
  
- Sobre as vendas - As vendas são feitas à crédito: o cliente B2B faz seu pedido e paga (à vista ou em várias parcelas, conforme o combinado pelo time de vendas) num tempo futuro pré-determinado.
  
- O problema - O time financeiro da X-Health tem observado um número indesejável de não-pagamentos ("default" ou calote, em bom português).

- O objetivo - Querem de alguma forma minimizar esse fenômeno. Desejam um algoritmo que seja capaz de inferir a probabilidade de default para um dado pedido.

## Sobre o dataset

- Caminho: o dataset disponibilizado pela X-Health encontra-se em 
```
./_data/dataset_2021-5-26-10-14.csv
```
- Estrutura do .csv: para ler o aqruivo, use  sep = '\t' e encoding = 'utf-8'.
- O dataset possui tanto variáveis internas (decorrentes do comportamento histórico do cliente B2B junto à X-Health), quanto variáveis externas consultadas em bureaus de crédito, como o Serasa.
- Cada linha do dataset representa um evento de compra de um conjunto de produtos, e tanto as variáveis internas quanto externas representam uma fotografia do cliente naquele instante.
- Valores faltantes estão indicados no dataset como "missing"
- Dicionário de dados:

| nome_coluna                    | desc                                                                                               |
| --------------------------     |----------------------------------------------------------------------------------------- |
| default\_3months               |Quantidade de default nos últimos 3 meses                                                          |
| ioi\_Xmonths                   |Intervalo médio entre pedidos (em dias) nos últimos X meses                                       |
| valor\_por\_vencer             |Total em pagamentos a vencer do cliente B2B, em Reais     |
| valor\_vencido                 |Total em pagamentos vencidos do cliente B2B, em Reais                                              |
| valor\_quitado                 |Total (em Reais) pago no histórico de compras do cliente B2B                |
| quant\_protestos               |Quantidade de protestos de títulos de pagamento apresentados no Serasa|
| valor\_protestos               |Valor total (em Reais) dos protestos de títulos de pagamento apresentados no Serasa|
| quant\_acao_judicial           |Quantidade de ações judiciais apresentadas pelo Serasa|
| acao\_judicial\_valor          |Valor total das ações judiciais (Serasa) |
| participacao\_falencia\_valor  |Valor total (em Reais) de falências apresentadas pelo Serasa |
| dividas\_vencidas\_valor       |Valor total de dívidas vencidas (Serasa)|
| dividas\_vencidas\_qtd         |Quantidade total de dívidas vencidas (Serasa)|
| falencia\_concordata\_qtd      |Quantidade de concordatas (Serasa)|
| tipo\_sociedade                |Tipo de sociedade do cliente B2B |
| opcao\_tributaria              |Opção tributária do cliente B2B |
| atividade\_principal           |Atividade principal do cliente B2B|
| forma\_pagamento               |Forma de pagamento combinada para o pedido |
| valor\_total\_pedido           |Valor total (em Reais) do pedido em questão|
| month                          |Mês do pedido|
| year                           |Ano do pedido|
| default                        |Status do pedido: default = 0 (pago em dia), default = 1 (pagamento não-realizado, calote concretizado)|

## Abrindo o arquivo de dados

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('_data/dataset_2021-5-26-10-14.csv', sep='\t', encoding='utf-8')

In [19]:
df

,default_3months,ioi_36months,ioi_3months,valor_por_vencer,valor_vencido,valor_quitado,quant_protestos,valor_protestos,quant_acao_judicial,acao_judicial_valor,...,dividas_vencidas_qtd,falencia_concordata_qtd,tipo_sociedade,opcao_tributaria,atividade_principal,forma_pagamento,valor_total_pedido,month,year,default
0,0,58.000000,18.236092,0.000000,0.0,2.421007e+05,0,0.000000,0,0.0,...,0,0,empresario (individual),simples nacional,papelaria,30/60/90,34665.674938,6,2019,0
1,1,16.052632,7.500000,224132.850000,0.0,4.960846e+06,0,0.000000,0,0.0,...,0,0,sociedade empresaria limitada,missing,com de equipamentos de informatica,30/60/90,7134.489373,10,2018,0
2,0,13.250000,3.904762,513043.830000,0.0,1.586319e+05,1,1800.000000,0,0.0,...,0,0,sociedade empresaria limitada,simples nacional,servicos de vigilancia e guarda,missing,72653.621143,4,2018,0
3,0,136.925000,10.144219,23273.640000,0.0,6.696442e+05,0,0.000000,0,0.0,...,0,0,empresario (individual),simples nacional,com de equipamentos de informatica,missing,14576.805783,4,2017,1
4,0,140.333333,17.651678,0.000000,0.0,2.010560e+03,0,0.000000,0,0.0,...,0,0,sociedade empresaria limitada,simples nacional,com de compon eletron e pecas para eletrod,30/60/90,2655.505663,10,2017,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117268,0,32.679779,16.582511,10470.620143,0.0,5.406733e+05,0,0.000000,0,0.0,...,0,0,sociedade empresaria limitada,simples nacional,com de telefones e equip p/ comunicacoes,30/60/90,13290.156794,1,2019,1
117269,0,41.894875,16.649383,3349.884555,0.0,3.373146e+03,0,0.000000,0,0.0,...,0,0,empresario (individual),simples nacional,comercio,missing,4574.831977,4,2018,1
117270,0,132.525884,18.188413,893.233266,0.0,3.362163e+03,0,0.000000,0,0.0,...,0,0,empresario-mei(microempreendedor individual),simples nacional,com de moveis e estofados,missing,944.324251,1,2017,1
117271,0,26.930798,16.337212,43969.125732,0.0,1.388990e+04,2,622.546407,0,0.0,...,0,0,sociedade empresaria limitada,simples nacional,servicos de telefonia fixa,30/60/90/120,5295.273974,11,2019,1
117272,1,11.334081,15.431495,19281.291534,0.0,4.000861e+04,0,0.000000,0,0.0,...,0,0,sociedade empresaria limitada,simples nacional,comercio,30/60/90,3584.906269,2,2018,1

In [20]:
df.columns

Index(['default_3months', 'ioi_36months', 'ioi_3months', 'valor_por_vencer',
       'valor_vencido', 'valor_quitado', 'quant_protestos', 'valor_protestos',
       'quant_acao_judicial', 'acao_judicial_valor',
       'participacao_falencia_valor', 'dividas_vencidas_valor',
       'dividas_vencidas_qtd', 'falencia_concordata_qtd', 'tipo_sociedade',
       'opcao_tributaria', 'atividade_principal', 'forma_pagamento',
       'valor_total_pedido', 'month', 'year', 'default'],
      dtype='object')

## Mapeando dados faltantes

In [28]:
df.isnull().sum()

default_3months                0
ioi_36months                   0
ioi_3months                    0
valor_por_vencer               0
valor_vencido                  0
valor_quitado                  0
quant_protestos                0
valor_protestos                0
quant_acao_judicial            0
acao_judicial_valor            0
participacao_falencia_valor    0
dividas_vencidas_valor         0
dividas_vencidas_qtd           0
falencia_concordata_qtd        0
tipo_sociedade                 0
opcao_tributaria               0
atividade_principal            0
forma_pagamento                0
valor_total_pedido             0
month                          0
year                           0
default                        0
dtype: int64

In [38]:
df.query('default_3months  == "missing"')

Empty DataFrame
Columns: [default_3months, ioi_36months, ioi_3months, valor_por_vencer, valor_vencido, valor_quitado, quant_protestos, valor_protestos, quant_acao_judicial, acao_judicial_valor, participacao_falencia_valor, dividas_vencidas_valor, dividas_vencidas_qtd, falencia_concordata_qtd, tipo_sociedade, opcao_tributaria, atividade_principal, forma_pagamento, valor_total_pedido, month, year, default]
Index: []

[0 rows x 22 columns]

In [39]:
df.query('ioi_36months == "missing"')

Empty DataFrame
Columns: [default_3months, ioi_36months, ioi_3months, valor_por_vencer, valor_vencido, valor_quitado, quant_protestos, valor_protestos, quant_acao_judicial, acao_judicial_valor, participacao_falencia_valor, dividas_vencidas_valor, dividas_vencidas_qtd, falencia_concordata_qtd, tipo_sociedade, opcao_tributaria, atividade_principal, forma_pagamento, valor_total_pedido, month, year, default]
Index: []

[0 rows x 22 columns]

In [40]:
df.query('ioi_3months == "missing"')

Empty DataFrame
Columns: [default_3months, ioi_36months, ioi_3months, valor_por_vencer, valor_vencido, valor_quitado, quant_protestos, valor_protestos, quant_acao_judicial, acao_judicial_valor, participacao_falencia_valor, dividas_vencidas_valor, dividas_vencidas_qtd, falencia_concordata_qtd, tipo_sociedade, opcao_tributaria, atividade_principal, forma_pagamento, valor_total_pedido, month, year, default]
Index: []

[0 rows x 22 columns]

In [41]:
df.query('valor_por_vencer == "missing"')

Empty DataFrame
Columns: [default_3months, ioi_36months, ioi_3months, valor_por_vencer, valor_vencido, valor_quitado, quant_protestos, valor_protestos, quant_acao_judicial, acao_judicial_valor, participacao_falencia_valor, dividas_vencidas_valor, dividas_vencidas_qtd, falencia_concordata_qtd, tipo_sociedade, opcao_tributaria, atividade_principal, forma_pagamento, valor_total_pedido, month, year, default]
Index: []

[0 rows x 22 columns]

In [42]:
df.query('valor_vencido == "missing"')

Empty DataFrame
Columns: [default_3months, ioi_36months, ioi_3months, valor_por_vencer, valor_vencido, valor_quitado, quant_protestos, valor_protestos, quant_acao_judicial, acao_judicial_valor, participacao_falencia_valor, dividas_vencidas_valor, dividas_vencidas_qtd, falencia_concordata_qtd, tipo_sociedade, opcao_tributaria, atividade_principal, forma_pagamento, valor_total_pedido, month, year, default]
Index: []

[0 rows x 22 columns]

In [43]:
df.query('valor_quitado == "missing"')

Empty DataFrame
Columns: [default_3months, ioi_36months, ioi_3months, valor_por_vencer, valor_vencido, valor_quitado, quant_protestos, valor_protestos, quant_acao_judicial, acao_judicial_valor, participacao_falencia_valor, dividas_vencidas_valor, dividas_vencidas_qtd, falencia_concordata_qtd, tipo_sociedade, opcao_tributaria, atividade_principal, forma_pagamento, valor_total_pedido, month, year, default]
Index: []

[0 rows x 22 columns]

In [44]:
df.query('quant_protestos == "missing"')

Empty DataFrame
Columns: [default_3months, ioi_36months, ioi_3months, valor_por_vencer, valor_vencido, valor_quitado, quant_protestos, valor_protestos, quant_acao_judicial, acao_judicial_valor, participacao_falencia_valor, dividas_vencidas_valor, dividas_vencidas_qtd, falencia_concordata_qtd, tipo_sociedade, opcao_tributaria, atividade_principal, forma_pagamento, valor_total_pedido, month, year, default]
Index: []

[0 rows x 22 columns]

In [45]:
df.query('valor_protestos == "missing"')

Empty DataFrame
Columns: [default_3months, ioi_36months, ioi_3months, valor_por_vencer, valor_vencido, valor_quitado, quant_protestos, valor_protestos, quant_acao_judicial, acao_judicial_valor, participacao_falencia_valor, dividas_vencidas_valor, dividas_vencidas_qtd, falencia_concordata_qtd, tipo_sociedade, opcao_tributaria, atividade_principal, forma_pagamento, valor_total_pedido, month, year, default]
Index: []

[0 rows x 22 columns]

In [46]:
df.query('quant_acao_judicial == "missing"')

Empty DataFrame
Columns: [default_3months, ioi_36months, ioi_3months, valor_por_vencer, valor_vencido, valor_quitado, quant_protestos, valor_protestos, quant_acao_judicial, acao_judicial_valor, participacao_falencia_valor, dividas_vencidas_valor, dividas_vencidas_qtd, falencia_concordata_qtd, tipo_sociedade, opcao_tributaria, atividade_principal, forma_pagamento, valor_total_pedido, month, year, default]
Index: []

[0 rows x 22 columns]

**********

## Default

In [9]:
df['default'].value_counts()

0    97728
1    19545
Name: default, dtype: int64